/*##############################
###       GOOGLE FONT/S      ###
###############################*/
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap');


/*##############################
###      GENERAL STYLES     ###
###############################*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}

:root {
    --white-color: rgb(255, 255, 255);
    --interactive-color: rgb(252, 88, 48);
    --light-grey: rgb(65, 64, 64);
    --midium-grey: rgb(100, 98, 98);
    --dark-grey: rgb(28, 28, 26);
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #232321;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 22, 22, 0.8);
    z-index: 200;
    display: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

h1 {
    margin-top: 100px;
}

.title {
    font-size: 7rem;
    font-weight: 700;
}

.my-btn {
    background-color: rgb(0, 0, 0);
    padding: 12px 25px;
    text-transform: uppercase;
    transition: all ease-in-out .3s;
}

.my-btn:hover {
    background-color: rgb(46, 45, 45);
    color: var(--white-color);
}

hr {
    background-color: var(--white-color);
    height: 2px;
}

.line {
    background-color: #fc5830;
    width: 25px;
    height: 3px;
    margin: 15px 0;
}

.box-logo {
    padding: 20px 0;
}

.logo {
    width: 200px;
}

.logo-mobile {
    display: none;
}

.logo.active {
    width: 170px;
}

.fas,
.fa {
    font-size: 1.5rem;
}

.fa-times,
.fa-bars {
    position: absolute;
    top: 25px;
    right: 50px;
}

.fa-times,
.fa-bars {
    display: none;
    cursor: pointer;
}

.interactive-color {
    color: var(--interactive-color);
}

.white-color {
    color: var(--white-color);
}

.dark-color {
    color: var(--dark-grey);
}

.medium-grey-color {
    color: var(--midium-grey);
}

.margin-top-200 {
    margin-top: 200px;
}

/*##############################
###          NAVBAR          ###
###############################*/

nav .container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    height: 75px;
    background-color: transparent;
}

nav.active {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .3s;
    background-color: var(--light-grey);
    z-index: 1000;
}

nav .menu .links li {
    margin-top: 15px;
}

nav .menu .links {
    display: flex;
}

nav .menu .links li {
    margin-right: 25px;
}

nav .menu .links li a {
    font-size: 18px;
}

nav .menu .links li a:hover {
    color: var(--interactive-color);
}

nav .menu .links li.active a {
    color: var(--interactive-color);
}

.menu hr {
    width: 85%;
    opacity: 0.1;
}

.social {
    margin-left: -20px;
    display: none !important;
}

.social a {
    font-size: 0.8rem !important;
}

.social .fab {
    font-size: 1.1rem !important;
}

/*##############################
###       HERO SECTION       ###
###############################*/

.hero {
    display: table;
    height: 100vh;
    width: 100%;
    padding: 0 50px;
}

.hero .content {
    display: table-cell;
    vertical-align: middle;
}

.hero .col-right {
    background-image: url(/assets/images/girl_bg.png);
    background-position: 520px 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.rating-box {
    margin-right: 15px;
    position: relative;
    background-color: #1C1C1A;
    border-radius: 25px;
}

.rating-box img {
    border-radius: 15px;
    margin-right: 15px;
}

.rating-box p {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*##############################
###       GOALS SECTION      ###
###############################*/

.goals {
    padding: 50px 50px 140px;
    background-color: var(--dark-grey);
}

.goals .title,
.effects .title {
    color: var(--light-grey);
    font-size: 5rem;
}

.goals .goals-content {
    width: 100%;
}

.goals .goals-content .row {
    margin-left: 15px;
}

.goals .goals-content .goals-card h3 {
    font-size: 1.3rem;
}

.goals .goals-content .goals-card h2 {
    font-size: 3rem;
    font-weight: 700;
}

/*##############################
###       EFFECTS SECTION    ###
###############################*/
.effects {
    background-color: #BCBDBF;
    height: 800px;
    padding: 50px 25px;
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: -50px;
}

.effects .text-left,
.effects .text-right {
    font-size: 2rem;
    font-weight: 600;

}

.effects .text-right {
    text-align: right;
    font-size: 3rem;
}

/*##############################
###       ABOUT SECTION      ###
###############################*/
.about .about-container {
    position: relative;
}

.about .about-social {
    position: absolute;
    bottom: -50px;
    left: 15px;
}

.about .about-social h4 {
    margin-right: 35px;
}

.about .about-social span {
    margin-right: 25px;
    background-color: var(--dark-grey);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.about .about-social span a {
    transition: all ease-in-out .1s;
}

.about .about-social span:hover {
    background-color: var(--white-color);
}

.about .about-social span:hover a {
    color: var(--dark-grey);
}

.about .rating-box {
    margin-top: -50px;

}

.about .rating-box p {
    bottom: 25px;
}

/*##############################
###    ABOUT CARDS SECTION   ###
###############################*/
.cards-section {
    background-color: var(--dark-grey);
    height: auto;
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
}

.cards-section .about-cards {
    text-align: center;
    margin-top: 120px;
}

.cards-section .about-cards .about-card {
    background-color: var(--light-grey);
    margin: 0 auto;
    width: 270px;
    padding: 30px 50px;
    border-radius: 25px;
    cursor: pointer;
}

.cards-section .about-cards .about-card:hover {
    background-color: var(--midium-grey);
    box-shadow: -10px 52px 102px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -10px 52px 102px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 52px 102px -17px rgba(0, 0, 0, 0.75);

}

.cards-section .about-cards .about-card .fab,
.cards-section .about-cards .about-card h5,
.cards-section .about-cards .about-card p {
    transition: all ease-in-out .5s;
}

.cards-section .about-cards .about-card:hover i,
.cards-section .about-cards .about-card:hover h5,
.cards-section .about-cards .about-card:hover p {
    color: var(--interactive-color);
}



.cards-section .about-cards .about-card .fas,
.cards-section .about-cards .about-card .far {
    margin-bottom: 35px;
    font-size: 2rem;
}

.cards-section .about-cards .about-card h5 {
    font-weight: 700;
}

/*##############################
###       OPINION SECTION    ###
###############################*/
.opinion {
    background-color: var(--dark-grey);
    padding: 80px 0;
}

.opinion .container {
    background-color: #FC5830;
    height: auto;
    padding: 50px 25px;
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: -50px;
    align-items: center;
}

.opinion .container .opinion-left {
    padding: 50px 25px;
}

.opinion .container .opinion-left h3 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.opinion .container .opinion-left p {
    width: 75%;
}

.opinion .container .opinion-card {
    background-color: var(--white-color);
    margin: 0 auto;
    border-radius: 25px;
    width: 240px;
    position: relative;
}

.opinion .container .opinion-card i {
    position: absolute;
    top: -12px;
    right: 25px;
}

.opinion .container .opinion-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
}

.opinion .container .opinion-card img:hover {
    filter: saturate(20%);
}

.opinion .container .opinion-card p {
    padding: 15px 0;
}

.opinion .container .opinion-card span {
    font-weight: 700;
}

/*##############################
###       CLIENTS SECTION    ###
###############################*/

.clients-section .title,
.plans-section .title {
    font-size: 5rem;
}

.clients-section .container {
    align-items: center;
}

.clients-section .container .clients-card:hover {
    margin-top: -10px;
}

.clients-section .logo {
    width: 90% !important;
}

.clients-section .container .client-img {
    border-radius: 25px;
}

.clients-section .container .clients-card p {
    width: 90%;
}

/*##############################
###     PLANS SECTION        ###
###############################*/
.plans-section .plans-card {
    background: var(--dark-grey);
    padding: 50px;
    border-radius: 25px;
    margin: 0 auto;
    width: 350px;
    cursor: pointer;
}

.plans-section .plans-card:hover {
    background-color: var(--interactive-color);
    box-shadow: -10px 52px 102px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -10px 52px 102px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 52px 102px -17px rgba(0, 0, 0, 0.75);
}

.plans-section .plans-card:hover .line {
    background-color: var(--dark-grey);
}

.plans-section .plans-card h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    left: 0;
}

.plans-section .plans-card .plans-price {
    position: relative;
}

.plans-section .plans-card .plans-price .fas {
    position: absolute;
    top: -5px;
}

.plans-section .plans-card .plans-price span {
    margin-left: 25px;
    font-size: 2.2rem;
    font-weight: 900;
}

.plans-section .plans-card .plans-price .line {
    width: 70%;
    height: 1px;
}

.plans-section .plans-card .plans-price .line {
    width: 70%;
    height: 1px;
}

.plans-section .plans-card p {
    font-size: 0.9rem;
}

.plans-section .plans-card .inclueds-box .fas {
    margin-right: 15px;
    font-size: 0.9rem;
}

.plans-section .card-2 {
    background-color: var(--interactive-color);
}

.plans-section .card-2 .line {
    background-color: var(--dark-grey);
}

.plans-section .card-3 {
    background-color: var(--light-grey);
}

/*##############################
###         FAQ SECTION      ###
###############################*/

.faq-section {
    margin-top: 100px;
}

.faq-section .faq-col-right {
    background-color: var(--dark-grey);
    background-image: url(/assets/images/logo-bg-big.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
    height: 700px;
}

.faq-col-right .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--interactive-color);
    opacity: 0.1;
    display: block;
}

.faq-section .title {
    margin-top: 50px;
}

/* Accordion */
.accordion {
    width: 75%;
    margin: 0 auto;
}

.accordion .accordion-item {
    margin-bottom: 5px;
    border: none;
}

.accordion .accordion-item,
.accordion button {
    background-color: #272725 !important;
}

.accordion .accordion-item {
    border-left: 1px solid #272725;
}

.accordion .accordion-body.active {
    border-left: 1px solid var(--interactive-color);
}

.accordion button,
.accordion .accordion-body {
    color: var(--white-color);
}

.accordion button span {
    margin-right: 15px;
    transition: none;
    font-weight: 700;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after,
.collapsed {
    background-color: var(--interactive-color);
    margin-right: -5px;
}

.accordion-button:not(.collapsed) {
    color: var(--interactive-color);
}

.collapse {
    visibility: hidden;
}

.collapse.show {
    visibility: visible;
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}

/*##############################
###  CONTACT & FOOTER SECTION ##
###############################*/

.contact {
    background-color: var(--interactive-color);
    padding: 50px 0 30px 0;
}

.contact .contact-details .logo-footer {
    filter: invert(40%);
    margin-right: 25px;
}

.contact .contact-details h3 {
    font-size: 2.5rem;
}

.contact form {
    margin-top: 50px;
}

.contact form input,
.contact form textarea {
    background-color: var(--interactive-color);
    border: transparent;
    border-bottom: 1px solid var(--white-color);
    padding: 10px;
    width: 320px;
}

.contact form input[type=checkbox] {
    width: 5% !important;
}

.contact form input:focus,
.contact form textarea:focus {
    background-color: var(--white-color);
    outline: none;
}

::placeholder {
    color: var(--white-color)
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: var(--dark-grey)
}

.contact form .checkbox-menssage {
    margin-left: 5px;
}

.contact form .my-btn {
    border-radius: 10px;
    border: 0;
}

.contact footer .social {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.contact footer .social li {
    margin-left: 8px;
}

.contact footer .social .fab {
    font-size: 1rem;
}

.contact footer .social .fab:hover {
    color: var(--dark-grey);
}