/* Hero */

@media only screen and (min-width: 1367px) {
    .hero .col-right {
        background-position: 820px 10px;
    }
}

@media only screen and (max-width: 1199px) {
    .plans-section .card-3 {
      margin-top: 25px !important;

    }
}

@media only screen and (max-width: 1168px) {
    .hero .col-right {
        background-position: 420px 10px;
    }

    .title {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .links {
        display: block !important;
        background-color: var(--dark-grey);
        height: 100%;
        width: 350px;
        position: fixed;
        top: 0;
        right: -360px;
        z-index: 1000;
        padding-top: 80px;
    }

    .overlay.active {
        display: block;
    }
    
    section.active {
        margin-left: -150px;
    }
    
    .links.active {
        right: 0 !important;

    }

    .fa-times,
    .fa-bars {
        display: block;

    }

    .social {
        display: inline-flex !important;
    }

}

@media only screen and (max-width: 965px) {
    .hero .col-right {
        background-position: 300px 10px;
    }

    .title {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 991px) {
        .rating-box p {
        font-size: 1.2rem;
        padding-top: 0;
        bottom: 50px;
        width: 250px;
    }
    
}

@media only screen and (max-width: 850px) {
    .hero .col-right {
        background-image: none;
    }
}

@media only screen and (max-width: 768px) {
    .effects .text-left,
    .effects .text-right {
     text-align: center;
    }
    
    .clients-section .logo {
        width: 65% !important;
        margin: 0 auto;
        display: block;
        margin-bottom: 35px;
    }

    .plans-section .card-2,
    .plans-section .card-1 {
        margin-top: 25px !important;
  
    }
}

@media only screen and (max-width:562px) {
    .cards-section .about-cards .about-card {
        width: 95%;
    }

    .opinion .container .opinion-card {
        width: 90%;
        margin-top: 25px;
        padding-bottom: 25px;
    }
    
    .plans-section .plans-card {
        width: 95%;

    }
}

